body {
  font-family: arial, sans-serif;
  font-weight: 300;
  background: url(background.jpg) repeat;
  color: white;
}
table {
  border: 1px solid black;
  border-collapse: collapse;
}
th {
  border: 1px solid black;
  font-size: 14px;
  text-align: left;
  padding: 5px;
  line-height: 50px;
}
#wrapper {
  width: 960px;
  margin: 20px auto;
}

#pilot {
  border: 1px solid white;
  background-color: gray;
  width: 1000px;
  height: 250px;
  margin: 30px auto;
  padding: 10px;
}

#logo {
  float: right;
}